.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.cards{
  height: 150px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 20px;
  background-color: #509B7D;
  border-radius: 7px;
 
}
.cards button{
  background-color: #E3E3DB;
  border: 0mm;
  padding: 5px 15px;
  border-radius: 7px;
}
.home-page{
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-bottom: 100px;
}
.detail-page{
 display: flex;
 justify-content: center;
 height: 100vh;
 align-items: center;
 
}
.detail-card{
  width: 500px;
 height: 500px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #509B7D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}